# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
out/
**/.next/
**/out/

# Build outputs
dist/
build/
**/dist/
**/build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
**/.env
**/.env.*

# Local runtime data
mongo_data/
.venv/
backend/public/uploads/
/leaf-train/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
tmp_Profile_*_History.db

# Documentation
docs/
